#logo {
	background-image: url(https://www.google.com/images/branding/googlelogo/1x/googlelogo_color_272x92dp.png);
background-repeat: no-repeat;
height: 92px;
left: calc(50% - 272px/2);
    position: relative;
}